{% extends 'base.html' %}
{% set active_page = 'account' %}
{% from "_error_messages.html" import field_error_messages %}
{% block title %}Change Password - {% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-7 offset-lg-2 my-5">
    <h1>Change Password</h1><hr>
    <form method="POST" action="{{ url_for('account.change_password', member_id=member_id) }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.old_password.label }}
        {{ form.old_password(class="form-control") }}
        {{ field_error_messages(form.old_password) }}
      </div>
      <div class="form-group">
        {{ form.new_password.label }}
        {{ form.new_password(class="form-control") }}
        {{ field_error_messages(form.new_password) }}
      </div>
      <hr>
      {{ form.submit(class="btn btn-primary form-control") }}
    </form>
  </div>
</div>
{% endblock %}
