{% extends 'base.html' %}
{% set active_page = 'rents' %}

{% block content %}
  <div class="row">
    <div class="col-lg-3">
      <div class="my-4">
        <a href="{{ url_for('rent.return_book') }}" class="btn btn-primary form-control">Return book</a><hr>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row my-5 card-wrapper">
        {% if rents %}
        {% for book in rents[current_user['email']]['books'].values() | list %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                {{ book }}
              </h4>
            </div>
            <div class="card-footer">
              <small class="text-muted">
                Borrowed: {{ rents[current_user['email']].borrow_date }}
              </small>
              <br>
              <small class="text-muted">
                Return due: {{ rents[current_user['email']].return_date }}
              </small>
              <br>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h1 class="offset-lg-3">You don't have any rented books.</h1>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
